* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
 
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;   
    background-color: #000000;
    color:#ffffff;
}

button:hover {
    background-color: #2b2b2c;
}

.container {
    max-width: 1400px;
    margin: auto;
}



header {
    background-color: #ffffff;

}

.boton {

    margin: auto;
    font-size: xx-small;
    color:#d80505;

}
 /*QUIENES SOMOS*/


/* Estilos CSS para la sección Quiénes Somos */
#quienes {
    background-color: #f2f2f2;
    padding: 50px 20px;
    text-align: center;
  }
  
  .quienessomos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .img {
    background-image: url(./assets/css/img/DUCATI.jpg);
  }
  
  .text {
    padding: 20px;
  }
  
  h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif; /* Ejemplo de fuente */
    color: #333; /* Color del texto principal */
  }
  
  .color-acento {
    color: #c70039; /* Color acentuado para resaltar */
  }

 .titulo{

    color:#ffffff
 }

/*LOGO*/
.marca {
    max-width: 1400px;
    margin: auto;
    text-align: center;
}

.marca .logo {
    max-width: 80%;
    /* Ajustar el tamaño del logo */
    margin: 20px auto;
    /* Margen superior e inferior para separar del borde */
    background-image: url('../css/img/MOTOWORKS.jpg');
    /* Ruta de tu logo */
    background-size: cover;
    /* Ajustar el tamaño del logo */
    background-position: center center;
    /* Posición central del logo */
    background-repeat: no-repeat;
    /* Evitar repetición */

}

.marca>img {
    width: 100px;
    height: 100px;

}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
}

header a:hover {
    color: #ffffff;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:url("./assets/css/img/lucas-t-8m_S9Pi6a1I-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: rgb(255, 254, 254);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hero button {
    font-size: 1.75em;
    
}


/*SERVICIOS versión mobil*/
#servicios {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#servicios .container {
    padding: 80px 12px;
}

#servicios h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#servicios p {
    display: none;
}

#servicios .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
    #50525080,
            rgba(0, 0, 0, 0.5)), url("./assets/css/img/DUCATI.jpg")
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
    #50525080,
    rgba(0, 0, 0, 0.5)), url("./assets/css/img/lucas-t-8m_S9Pi6a1I-unsplash.jpg");

}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
    #52505080,
    rgba(0, 0, 0, 0.5)), url("./assets/css/img/kenny-eliason-60krlMMeWxU-unsplash.jpg");

}

.carta:nth-child(4) {
    background-image: linear-gradient(0deg,
    #50525080,
    rgba(0, 0, 0, 0.5)), url("./assets/css/img/mecanico.jpg");

}
/*FORMULARIO*/



#formulario {
    padding: 50px 0;
    text-align: center;
}

.contenedor {
    max-width: 600px;
    margin: 0 auto;
}

.formulario {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(238, 0, 0, 0.1);
}

.formulario h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.accion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter-input div {
    margin-bottom: 15px;
}

.letter-input input[type="text"],
.letter-input input[type="email"],
.letter-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.letter-input textarea {
    height: 150px;
}

.red_btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.red_btn:hover {
    background-color: #c0392b;
}
.titulos{
    text-align: center;
}

/*productos version mobil*/
#productos {
    background-color: white;
    color: rgb(30, 30, 30);
    text-align: center;
}

#productos .container {
    width: 100%;
}

#productos h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#productosp {
    display: inline-block;
}

#productos .carta1 {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 100px;
    border-radius: 15px;
    float: left;
    /* Agregar float a las cartas */
    width: calc(40% - 70px);
    /* Establecer el ancho deseado y restar el margen */
    box-sizing: border-box;
    /* Incluir el padding en el ancho */
    margin-top: 30px;
    /* Agregar margen superior para separar las filas */
}

.carta1:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/artur-tumasjan-oQ1JNNKGIQs-unsplash.jpg")
}

.carta1:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/img/reg3.jpg");
}

.carta1:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/img/reg2.jfif");

}

.carta1:nth-child(4) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/img/reg2.jfif");

}






/*Final mobil*/
#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#final h2 {
    font-size: 9vw;
}

#final button {
    font-size: 5vw;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1 {
        font-size: 5em;
    }

    

    /*PRODUCTOS versión escritorio*/
    #productos .lista {
        display: inline-block;
        justify-content: center;
    }

    #productosp {
        display: block;
        margin-bottom: 30px;
    }

    #productos h2 {
        font-size: 4em;
    }

    #productosh3 {
        margin-top: 0;
    }

    #productos.carta1 {
        padding: 50px;
        background-size: 200% 250px;

    }

    .carta1:first-child {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../img/bjorn-magnus-kristiansen-dlE3CqAbwx8-unsplash.jpg");

    }

    .carta1:nth-child(2) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../assets/img/reg3.jpg");
    }

    .carta1:nth-child(3) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5)), url("../assets/img/reg2.jfif")
    }

    .carta1:nth-child(4) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5)), url("../assets/img/reg2.jfif")
    }

    /*Articulos personalizados versión escritorio*/
    #articulos .opciones {
        display: flex;
        justify-content: center;
    }

    #articulos p {
        display: block;
        margin-bottom: 30px;
    }

    #articulos h2 {
        display: block;
        margin-bottom: 30px;
    }

    #articulos h3 {
        margin-top: 0;
    }

    #articulos .art {
        padding: 50px;
        background-size: 200% 250px;

    }

    .carta2:first-child {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../assets/img/art2.png");

    }

    .carta2:nth-child(2) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../assets/img/art1.jpg");
    }

    .carta2:nth-child(3) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5)), url("../assets/img/art3.jpg")
    }

    /*Seccion contactanos*/
    #contactanos {
        justify-content: center;
        text-align: center;
        padding: 50px;
        background-size: 50% 20px;
        display: block;
        margin-bottom: 30px;
    }

    .red1 {
        justify-content: center;
        text-align: center;
        justify-content: center;
        background-color: #0000ff;

    }

    .red2 {
        justify-content: center;
        text-align: center;
        justify-content: center;
        background-color: #1e631e;
    }

    .red3 {
        justify-content: center;
        text-align: center;
        justify-content: center;
        background-color: #000000;
    }

    .red4 {
        justify-content: center;
        text-align: center;
        justify-content: center;
        background-color: #ff0000;
    }

    /*Final version escritorio*/
    #final h2 {
        font-size: 5em;
    }

    #final button {
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #detalles {
        background-position-x: calc(100vw - 800px);
    }
}
 /*footer*/

 .footer1 {
    background-color: #333;
    color: #fff;
    
    text-align:left;
}

.foot {
    margin-bottom: 10px;
}

.title_about,
.title_ubi {
    margin-bottom: 10px;
    font-size: 18px;
}

.map-container {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 20%; /* Proporción 16:9 para el iframe del mapa */
    height: 0;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}